@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,600;0,700;1,400;1,500&family=Overpass:wght@300;400;500;600;700&family=Raleway:wght@300;400;600;700;800&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,600;0,700;1,400;1,500&family=Overpass:wght@300;600&family=Raleway:wght@300;400;600;700;800&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Ubuntu:wght@400;500;700&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --font-size: 16px;
    --font-family: 'Overpass', sans-serif;
    --light-red: hsl(353, 100%, 62%);
    --very-light-red: hsl(355, 100%, 74%);
    --padding-section: 120px;
    --heading-color: hsl(208, 49%, 24%);
    --cta-text: hsl(356, 100%, 66%);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Overpass', sans-serif;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:991px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/** small screens**/

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}


/** medium screens**/

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}


/** large screens**/

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/********* Start section *******/

section {
    color: white;
    height: 50vh;
    background-image: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    position: relative;
    overflow: hidden;
    border-bottom-left-radius: 100px;
}

section .section-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 125%;
}


/********* Start header inside section *******/

section header {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

section header .container {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
}

section header .logo {
    margin-right: 50px;
    height: 40px;
    height: 100%;
}

@media (max-width:767px){
    section header .logo{
        height: 30px;
    }
}

section header .icon {
    display: none;
    margin-left: auto;
    height: 28px;
}

@media (max-width:767px) {
    section header .icon.burger {
        display: block;
        width: 40px;
        height: 20px;
    }
}

section header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width:767px) {
    section header nav {
        position: fixed;
        flex-direction: column;
        background-color: white;
        left: 50%;
        top: 80px;
        width: 90%;
        min-height: 280px;
        transform: translateX(-50%);
        border-radius: 6px;
        z-index: 100;
        align-items: center;
        padding: 10px 30px 20px;
        text-align: center;
        box-shadow: 0 2px 10px 0 rgb(0 0 0 /20%);
        display: none;
    }
}

section header nav > ul {
    display: flex;
}

@media (max-width:767px) {
    section header nav > ul {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:767px) {
    section header nav > ul > li {
        padding: 15px 0;
    }
}

section header nav ul li a {
    color: white;
    font-size: var(--font-size);
    margin: 0 15px;
}

@media (max-width:767px) {
    section header nav > ul li a {
        color: black;
        text-align: center;
        margin: 0 auto;
        width: fit-content;
    }
}

section header nav ul li.drop-btn {
    position: relative;
    margin: 0 auto;
}

section header nav > ul > li.drop-btn > ul.drop-menu {
    position: absolute;
    left: 0;
    top: 40px;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
    width: 150px;
    display: none;
    transition: 0.3s;
    z-index: 100;
}

@media (max-width:767px) {
    section header nav>ul>li.drop-btn>ul.drop-menu {
        left: 50%;
        transform: translate(-50%, 0);
        top: -50px;
        background-color: rgb(236, 236, 236);
        padding: 20px;
        border-radius: 8px;
        box-shadow: none;
        width: 290px;
    }
}

section header nav>ul>li.drop-btn>ul.drop-menu>li {
    padding: 10px 0;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.3s;
}

@media (max-width:767px) {
    section header nav>ul>li.drop-btn>ul.drop-menu>li {
        color: rgb(0 0 0 /60%);
    }
}

section header nav>ul>li.drop-btn>ul.drop-menu>li:hover {
    font-weight: bold;
    color: rgb(0 0 0/ 100%);
}

section header form {
    display: flex;
}

@media (max-width:767px) {
    section header form {
        padding-top: 10px;
        border-top: 1px solid #ccc;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

section header form input {
    font-size: var(--font-size);
    font-family: var(--font-family);
    font-weight: 500;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 12px 30px;
    color: white;
    cursor: pointer;
}

@media (max-width:767px) {
    section header form input {
        color: black;
    }
}

section header form input:last-child {
    border-radius: 30px;
    background-color: white;
    color: hsl(356, 100%, 66%);
    padding: 15px 40px;
}

@media (max-width:767px) {
    section header form input:last-child {
        background-image: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
        color: white;
    }
}


/********* end header inside section *******/

section>.container {
    position: relative;
    width: 100%;
    height: calc(100% - 80px);
}

section>.container>.info {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@media (max-width:767px) {
    section>.container>.info {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

section>.container>.info h2 {
    font-size: 58px;
    line-height: 1;
    letter-spacing: 1px;
    white-space: nowrap;
    text-align: center;
    width: 800px;
    font-weight: 400;
}

@media (max-width:991px) {
    section>.container>.info h2 {
        white-space: normal;
        width: 600px;
        line-height: 1.3;
    }
}

@media (max-width:767px) {
    section>.container>.info h2 {
        font-size: 48px;
        width:500px ;
    }
}

@media (max-width:375px) {
    section>.container>.info h2 {
        line-height: 1.3;
        font-size: 32px;
        width: 300px;
    }
}

section>.container>.info p {
    margin: 30px auto 40px;
    line-height: 1;
}

@media (max-width:767px) {
    section>.container>.info p {
        margin: 20px auto 30px;
        word-wrap: break-word;
    }
}

section>.container>.info input {
    background-color: transparent;
    border-radius: 30px;
    border: none;
    border: 2px solid white;
    outline: none;
    color: white;
    font-size: var(--font-size);
    font-family: var(--font-family);
    font-weight: 500;
    padding: 12px 20px;
    margin: 0 10px;
    text-transform: capitalize;
    transition: 0.3s;
    cursor: pointer;
}

section>.container>.info input:hover {
    background-color: white;
    color: var(--very-light-red);
}

@media (max-width:375px){
    section>.container>.info input {
        padding:10px 15px;
        margin: 0 5px;
    }
}


/************* end section ***********/


/************* start features ***********/

.features {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    height: 100vh;
    overflow: hidden;
}

@media (max-width:767px) {
    .features {
        overflow: visible;
        padding-bottom: calc(var(--padding-section) * 2.5);
        height: auto;
    }
}

.features .main-heading {
    color: var(--heading-color);
    font-size: 40px;
    font-weight: 500;
    margin: 0 auto 10px;
    width: fit-content;
}

@media (max-width:767px) {
    .features .main-heading {
        text-align: center;
        margin: 0 auto 40px;
        font-size: 36px;
    }
}

.features .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width:767px) {
    .features .container {
        flex-direction: column;
        align-items: center;
    }
}

.features .col-1 {
    flex-basis: 50%;
    margin-top: 50px;
}

@media (max-width:767px) {
    .features .col-1 {
        order: 2;
        text-align: center;
    }
}

@media (max-width:767px) {
    .features .col-1 .row {
        width: 80%;
        margin: 0 auto;
    }
}

@media (max-width:400px) {
    .features .col-1 .row {
        width: 95%;
        margin: 0 auto;
    }
}

.features .col-1 .row.one {
    margin-bottom: 40px;
}

.features .col-1 .row h2 {
    color: var(--heading-color);
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
}

@media (max-width:991px) {
    .features .col-1 .row>h2 {
        white-space: nowrap;
    }
}

@media (max-width:767px) {
    .features .col-1 .row>h2 {
        white-space: pre-wrap;
        margin-bottom: 10px;
    }
}

.features .col-1 .row p {
    line-height: 1.7;
    color: #777;
    font-size: var(--font-size);
}

.features .col-2 {
    position: relative;
    flex-basis: 40%;
    display: flex;
    align-items: center;
}

@media (max-width:767px) {
    .features .col-2 {
        order: 1;
    }
}

.features .col-2 .editor-img.mobile {
    display: none;
}

.features .col-2 .editor-img.desctop {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(300px, -50%);
    width: 750px;
}

@media (max-width:991px) {
    .features .col-2 .editor-img.desctop {
        width: 600px;
    }
}

@media (max-width:767px) {
    .features .col-2 .editor-img.desctop {
        display: none;
    }
    .features .col-2 .editor-img.mobile {
        display: block;
        max-width: 100%;
    }
}


/************* end features ***********/


/************* start design ***********/

.design {
    background-image: linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    height: 40vh;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

@media (max-width:767px) {
    .design {
        height: 70vh;
        padding-bottom: calc(var(--padding-section) - 20px);
    }
}

.design .container {
    height: 100%;
    display: flex;
    align-items: center;
}

@media (max-width:767px) {
    .design .container {
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
}

.design .phones-img {
    width: 500px;
    max-width: 100%;
    margin-right: 30px;
}

@media (max-width:767px) {
    .design .phones-img {}
}

.design .text {
    color: white;
    width: 500px;
    position: relative;
}

@media (max-width:767px) {
    .design .text {
        text-align: center;
        width: 100%;
    }
}

.design .text h2 {
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 38px;
    white-space: nowrap;
}

@media (max-width:767px) {
    .design .text h2 {
        white-space: pre-wrap;
    }
}

.design .text p {
    font-size: calc(var(--font-size) / 1.1);
    line-height: 1.8;
    letter-spacing: 0.5px;
    color: rgb(255 255 255/70%);
}


/************* end design *************/


/************* start about *************/

.about {
    padding-top: calc(var(--padding-section) * 2.2);
    padding-bottom: calc(var(--padding-section) * 2.5);
    overflow: hidden;
}

@media (max-width:767px){
    .about{
        padding-top: calc(var(--padding-section) / 1.4);
        padding-bottom: calc(var(--padding-section) / 1.4);
    }
}

.about .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
@media (max-width:767px){
    .about .container{
       flex-direction: column;
       align-items: center;
       justify-content:initial;
    }
}

.about .image {
    position: relative;
    flex-basis: 45%;
}

@media (max-width:991px){
    .about .image{
        flex-basis: 35%;
    }
}

@media (max-width:767px){
    .about .image{
        width: 420px;
    }
}

.about .laptop-img.desctop {
    height:700px;
    background-size: cover;
    position: absolute;
    top:60%;
    left: -320px;
    transform: translateY(-50%);
}

@media(max-width:767px){
    .about .laptop-img.desctop {
      display: none;
    }
}

@media (max-width:991px){
    .about .laptop-img.desctop{
        height: 550px;
    }
}

.about .laptop-img.mobile {
    display: none;
}

@media(max-width:767px){
    .about .laptop-img.mobile {
      display: block;
      width: 100%;
      margin-bottom: 40px;
    }
}

.about .text{
    flex-basis: 45%;
}

@media (max-width:991px){
    .about .text{
        flex-basis:50%;
    }
}

@media (max-width:767px){
    .about .text{
        text-align: center;
        width: 100%;
    }
}

.about .text .row.one{
    margin-bottom: 50px;
}

.about .text h2 {
    color: var(--heading-color);
    margin-bottom: 20px;
    line-height: 1;
}

.about .text p{
    line-height: 1.8;
    font-size:var(--font-size);
    color: #777;
}

/************* end about *************/
/************* start footer *************/
footer{
    background-color: hsl(240, 10%, 16%);
    padding-top: calc(var(--padding-section) / 1.5);
    padding-bottom: calc(var(--padding-section) / 2);
    border-top-right-radius: 100px;
}

footer .container{
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(260px,1fr));
    justify-items: center;
    row-gap:40px;
}

@media (max-width:991px){
    footer .content{
        width: fit-content;
        margin: 0 auto;
    }
}

@media (max-width:767px){
    footer .container{
        grid-template-columns: 100%;
        grid-template-rows: 100px repeat(auto-fill,minmax(250px,1fr));
        row-gap: 60px;
    }

    footer .col .content{
        text-align: center;
    }

    footer .col .content h2{
        margin-bottom: 20px;
    }
}

footer .col{
    width: 100%;
    color: white;
    text-transform: capitalize;
}

footer .col h2{
    font-weight: 600;
    font-size: 19px;
    margin-bottom: 30px;
}

footer .col ul li{
    padding: 10px 0;
    font-size: var(--font-size);
    color: rgb(255 255 255/70%);
}
/************* end footer *************/